<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{home.index.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <h1 th:text="#{home.index.headline}" class="mb-4" />
            <p th:utext="#{home.index.text}" />
            <p th:utext="#{home.index.swagger}" class="mb-5" />
            <div class="col-md-4 mb-5">
                <h4 th:text="#{home.index.exploreEntities}" class="mb-3" />
                <div class="list-group">
                    <a th:href="@{/categorias}" th:text="#{categoria.list.headline}" class="list-group-item list-group-item-action" />
                    <a th:href="@{/tipoEventos}" th:text="#{tipoEvento.list.headline}" class="list-group-item list-group-item-action" />
                    <a th:href="@{/ubicacions}" th:text="#{ubicacion.list.headline}" class="list-group-item list-group-item-action" />
                    <a th:href="@{/plans}" th:text="#{plan.list.headline}" class="list-group-item list-group-item-action" />
                    <a th:href="@{/usuarios}" th:text="#{usuario.list.headline}" class="list-group-item list-group-item-action" />
                    <a th:href="@{/valoracions}" th:text="#{valoracion.list.headline}" class="list-group-item list-group-item-action" />
                    <a th:href="@{/compras}" th:text="#{compra.list.headline}" class="list-group-item list-group-item-action" />
                    <a th:href="@{/tickets}" th:text="#{ticket.list.headline}" class="list-group-item list-group-item-action" />
                    <a th:href="@{/eventos}" th:text="#{evento.list.headline}" class="list-group-item list-group-item-action" />
                    <a th:href="@{/rols}" th:text="#{rol.list.headline}" class="list-group-item list-group-item-action" />
                </div>
            </div>
        </div>
    </body>
</html>
